<section ng-controller="homeCtrl">
      
     <div id="form-login" class="container">
          <div class="card row">
                <h3 class="col s12">Iniciar Sesion</h3>
                    <div class="divider col s10"></div>
                <button class="btn col s6 red" ng-click="login()">Github </button>
          </div>
     </div>
</section>
